## Modeling non-linear relationships using data transformation

- Here, we need to make a model which predicts how much distance is covered by a truck in a given time unit after a break is applied.

In [2]:
## importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
## filtering warnings
import warnings
warnings.filterwarnings('ignore')

In [4]:
## importing dataset
dist = pd.read_csv('AR - Examples - 1.6.csv')

In [5]:
dist.head()

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299